
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Regla para la colección 'notifications'
    // Permite que cualquier usuario (autenticado o no) cree (escriba) un nuevo
    // documento en la colección 'notifications'.
    // No se permite la lectura, actualización o eliminación desde el cliente.
    match /notifications/{notificationId} {
      allow read, update, delete: if false;
      allow create: if true;
    }

    // Regla por defecto para el resto de las colecciones.
    // Deniega la lectura y escritura a menos que se especifique otra regla.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
