rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regla de seguridad predeterminada: Nadie puede leer o escribir por defecto.
    match /{document=**} {
      allow read, write: if false;
    }
    
    // Permite que cualquiera lea los libros, librerías y autores.
    match /books/{bookId} {
      allow read: if true;
    }
    
    match /libraries/{libraryId} {
      allow read: if true;
    }

    match /authors/{authorId} {
      allow read: if true;
    }

    match /events/{eventId} {
      allow read: if true;
    }
    
    // Permite a cualquier usuario registrado registrarse en un evento.
    match /eventRegistrations/{registrationId} {
        allow create: if request.auth != null;
    }

    // Unauthenticated users cannot write to the notifications collection.
    // This will be handled by the Admin SDK on the server-side API route.
    match /notifications/{notificationId} {
      allow read, write: if false;
    }
  }
}
